body {
    overflow-y: scroll;
}

.content {
    justify-content: center;
    display: flex;
    margin: 20px 100px 20px 100px;
    margin-top: 70px;
}

.header-text {
    font-size: 30px;
    color: white;
}

.bloc-parse-url {
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.parse-input {
    width: 500px;
    border: 1px solid #2d3350;
    border-radius: 5px 0 0 5px;
    padding: 10px;
}

.parse-btn {
    border: 1px solid #2d3350;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    border-left: 0;
}

.table thead > tr > th {
    text-align: center;
    font-size: 20px;
    border-bottom-width: 1px;
}

.table tbody > tr > td img {
    height: 50%;
    width: 50%;
}

.table {
    border: 1px solid #2d3350;
}

.table > tbody > tr > td {
    border: 1px solid #2d3350;
}

.table > thead > tr > th {
    border: 1px solid #2d3350;
}

.load {
    position: fixed;
    z-index: 999;
    left: calc(100% / 2 - 50px);
    top: calc(100% / 2 - 50px);
}

.loadImg {
    background: url("../Images/loading.gif") no-repeat;
    width: 100px;
    height: 100px;
}